:root {
    --color-white-one: #f3f3f3;
    --color-white-two: white;
    --blue-color: #1786F9;
    --blue-color-two: #0b2778;
    --black-color-one: #212529;
    --black-color-two: #111111;
    --black-color-three: #4e4e4e;
    --green-color-one: #256961;
    --red-color-one: red;
    --red-color-two: #fdaca4;
    --red-color-three: rgb(255, 92, 0);
    --red-color-four: #e36756;
}

.main {
    background: url(./img/bglogin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_formbox {
    position: relative;
    width: 512px;
    height: 480px;
    overflow: hidden;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_container {
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    position: absolute;
    left: 0px;
}

.register_container {
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    position: absolute;
    right: -500px;
    z-index: -1;
}

.container-top span {
    color: var(--color-white-two);
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.container-top a {
    font-weight: 500;
    color: var(--color-white-two);
    margin-left: 5px;
}

.container-top header {
    color: var(--color-white-two);
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.container-two-col {
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
    font-size: small;
    margin-top: 10px;
    color: var(--color-white-two);
}

.input-field {
    font-size: 15px;
    border: none;
    color: var(--color-white-two);
    background: rgba(255, 255, 255, 0.2);
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border-radius: 30px;
    outline: none;
    transition: 0.2s ease;
}

.input-field::placeholder {
    color: var(--color-white-two);
}

.input-field:hover, .input-field:focus {
    background: rgba(255, 255, 255, 0.3);
}

.input-box{
    position: relative;
}

.input-box i {
    padding: 3px;
    position: relative;
    top: -35px;
    left: 16px;
    color: var(--color-white-one);
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: var(--black-color-one);
    height: 45px;
    width: 100%;
    outline: none;
    border: none;
    background: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 30px;
    font-weight: 800;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}


.container-ggface {
    margin-top: 10px;
}

.container-ggface p {
    text-align: center;
    margin-bottom: 5px;
    font-size: 20px;
    color: var(--color-white-one);
    
}
.container-ggface-button {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
    border: none;
    cursor: pointer;
    outline: none;
    background: transparent;
}

.button-icon img {
    width: 100%;
}

.col-two a {
    text-decoration: none;
    color: var(--color-white-two);
}

@media (max-width: 550px) {
    .main {
        min-height: 80vh;
    }
    .main_formbox {
        width: 100%;
        height: 550px;
    }
    .register_container, .login_container {
        width: 100%;
    }
    .register_container .container-two-col {
        flex-direction: column;
        
    }
}

.show_pass {
    position: absolute;
    cursor: pointer;
    right: 30px;
}

#eye_on {
    display: none;
}

#eye_off {
    display: initial;
}