body{
    overflow-x: hidden;
}
.main{
    background: url(./img/ct.jpg); /*hình nền background */
    background-size: cover; /* đảm bảo cho hình nền không bị biến dang khi thu phóng*/
    background-repeat: no-repeat; /*đảm bảo hình nên không bị lặp lại*/
    background-attachment: fixed;/*cố định hình nên để khi cuộn trang , nền không cuộn theo*/
    min-height: 85vh;/*chiều cao tổi thiểu với mỗi trình duyệt*/
    color: #f0f8ff; /*màu chữ mặc định trong main là trắng*/

}
.main_content{
    color: black;
    font-style: italic; /*font chữ*/
    text-align: center;/*căn giữa*/
    font-size: larger;/*cỡ chữ*/
    font-family: 'Times New Roman', Times, serif;
}
.main_content > div{
    margin: 10px;
}
.main_content > p{
    color: black;
    text-decoration: none; /*trang trí chữ : không*/
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
.main_contact-container{
    display: grid; /* áp dụng bố cục lưới cho phần tử cha đang xét*/
    grid-template-columns: auto auto; /*chia 2 cột đều nhau*/
    margin: 50px 15%; /*cách lề trên dưới 50px trái phải 20%*/
    gap: 200px; /*khoảng cách giữa các hàng và cột*/
    box-sizing: border-box;
}
.main_contactInfo {
    display: flex; /* bố cục dạng flex*/
    flex-direction: column; /*từ trái sang phải*/
    text-align: left; /*căn lề trái chữ*/
    width: 500px;
    margin-bottom: 50px;
    margin-top: 20px;
    
}
.main_contactInfo > div{
    font-size: 40px;
    color: #fff;
    margin: 20px;
    margin-top: 50px;
}
.main_contactInfo p{
    font-style: italic;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main_map{
width: 100%;
height: 400px;

}
.main_contactInfo span{
    cursor:pointer; /*khi re chuột vào những thẻ span con trỏ chuột sẽ thành hình bàn tay*/
    /*font chữ lớn*/
    color: rgb(8, 8, 1);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.box {
    display: flex;
    gap: 20px;
}
.text{
    font-size: 35px;
}
.icon {
    color: red;
}
.main_contactForm {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.form {
    background-color: #AFCDE0;
    width: 600px;
    height: 500px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form h2 {
    text-align: center;
    color: #333;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form .inputBox {
    position: relative;
    margin-bottom: 20px;
}

.form .inputBox input,
.form .inputBox textarea {
    height: 50px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
    resize: none;
}


.form .inputBox input[type="submit"] {
    background-color: #333;
    height: 50px;
    width: 150px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: larger;
    margin-left: 37%;
    margin-top: -5px;
}

.form .inputBox input[type="submit"]:hover {
    background-color: #555;
}

.form .inputBox label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #999;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.form .inputBox textarea {
    height: 180px;
}
.main_map{
    margin-top: -6px;
    margin-left: 7%;
    width: 85%;
    height: 20vh; /* Đặt chiều cao là 100% chiều cao của viewport */
    margin-bottom: 50px;

}

.main_decord {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #c6e4f7;
    margin: 0 23%;
    margin-bottom: 5px;
    width: 50%;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    overflow: hidden;
    
}
.item1{
    display: block;
    color: #6532BA;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    margin-top: 15px;
    font-weight: bold;
}
.item2{
    text-align: center;

    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20px;
    margin-top: 40px;
    font-weight:bold;
    color: black;
}
.item3 {
    margin: 35px;
    text-align: center;
    
}
.item3 >a > button{
    width: 120px;
    height: 30px;
    background-color: red;
    color: #fff;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    border: red;
    border-radius: 10px;
   
}
button:hover{
    background-color: greenyellow;
}
.form_send:hover{
    background-color: #333333da;
}
.marquee {
    color: #fff;
    font-size: 20px;
    height: 50px; 
    width: 100%; /* Chiều rộng của vùng chạy chữ */
    white-space: nowrap; /* Ngăn chữ xuống dòng */
    overflow: hidden; /* Ẩn phần chữ vượt quá vùng hiển thị */
    box-sizing: border-box; /* Bao gồm border và padding trong chiều rộng */
}

.marquee-text {
    color: black;
    display: inline-block;
    animation: marquee-animation 18s linear infinite;
    transition: 1s;
}

@keyframes marquee-animation {
    0% {
        transform: translateX(190%); /* Dịch chữ sang phải */
    }
    100% {
        transform: translateX(-100%); /* Dịch chữ sang trái */
    }
}
h1{
    border-bottom: inherit;
    cursor: pointer;
}
button{
    cursor: pointer;
}
@media screen and (min-width: 767px) and (max-width: 1023px){
    .main_contact-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        gap:20px;
        max-width: ;
    }
    .main_contactInfo{
        display: flex;
        align-items: left;
        justify-content: left;
        margin: 0;
        width: 100%;
        text-align: none;
    }
    .main_contact-container{
        max-width: 100% ;
    }
    .main_contactForm{
        display: flex;
        max-width: 100%;
        margin: 0;  
    }
    .form{
        width: 100%;
        background-color: #d4cedd;
    }
    .main_map{
        max-width: 100%;
        margin: 0;
    }
  }
  @media (max-width:767px){
    .main_contact-container {
        display: flex;
        flex-direction: column;
        margin: 50px 0; /* Điều chỉnh margin theo ý muốn */
        padding: 0;
        gap:20px;
        max-width: 100%;
    }
    .main_contactInfo{
        display: flex;
        align-items: left;
        justify-content: left;
        margin: 0;
        width: 100%;
        
    }
    .main_contactForm{
        display: flex;
        width: 100%;
        margin: 0;  
        
    }
    .form{
        width: 100%;
        background-color: #d4cedd;
        
    }
    .main_map{
        width: 100%;
        margin: 0;
    }
  }
  @media screen and (max-width: 768px) {
    .main_contact-container {
        margin: 50px 5%;
        
    }

    .main_contactInfo,
    .main_map,
    .main_decord {
        display: grid;
        width: 100%;
        margin: 0%;
    }
}
  
  
  


