body {
    width: 100%;
    font-family: Tahoma, Verdana ,sans-serif;
    background-color: blue;
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #f3f3f3;
}

            /* ---------------HEADER--------------- */
.header {
    width: 100%;
    display: grid;
    grid-template-areas: 
    'search-cell'
    'navbar-cell';
    color: #212529;
}

.navbar1 {
    grid-area: search-cell;
    display: flex;
    background-image: url(/img/background1.png);
    align-items: center;
    justify-content: space-between;
    padding: 5px 13%;
}

#logo {
    width: 80px;
}

/* SEARCH */
.search-bar {
    width: 500px;
    height: 50px;
    background-color: transparent;
    border: 4px solid #1786F9;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search-bar > input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
    padding-left: 10px;
}

.search-bar input::placeholder {
    color: #1786F9;
}

.search-bar button {
    width: 50px;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

.icon-search {
    font-size: 30px;
    color: #1786F9;
}

.icon-search:hover {
    color: white;
    transition: 0.3s;
}

/* LOGIN */
.login-register {
    font-size: 20px;
    text-decoration: none;
    color: #1786F9;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-weight: 550;
}

.login-register i {
    font-size: 25px;
}

.login-register:hover {
    color: #ffffff;
    transition: 0.3s;
}

/* SHOPPING-CART */
.shopping-cart {
    text-align: center;
    font-size: 20px;
    color: #1786F9;
    text-decoration: none;
    text-transform: uppercase;
    background-color: transparent;
    font-weight: 550;
}   

.shopping-cart:hover {
    color: #ffffff;
    transition: 0.3s;
}

.shopping-cart i {
    font-size: 25px;
}
/* NAV-BAR */
.navbar2 {
    grid-area: navbar-cell;
    display: flex;
    background-color: #222222;
    padding: 25px 13%;
    height: 25%;
}

.navbar2 a {
    position: relative;
    font-size: 20px;
    color: #1786F9;
    text-decoration: none;
    margin-right: 50px;
    padding: 4px;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar2 a:hover {
    color: #ffffff;
    transition: 0.5s;
}

.navbar2 a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: 0.5s;
}

.navbar2 a:hover:after {
    transform: translateY(0);
    opacity: 1;
    background-color: #ffffff;
}



            /* ----------------MAIN-------------- */
.main {
    margin: 10px 13%;
}


            /* ---------------FOOTER------------- */
.footer {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: #212529;
}
/* Footer-Copyright-Backtop */
.footer_backtop i {
    width: 50px;
    height: 50px;
    background-color: #1786F9;
    color: white;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 20px;
    bottom: 60px;
}

.footer_backtop i:hover {
    background-color: #1400ed;
    color: rgb(1, 1, 1);
}

.footer_copyright {
    background-color:#2b2f32;
    height: 50px;
    border-top: 1px solid rgb(131, 114, 114);
}

.footer_copyright p {
    padding: 0 13%;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    color: rgb(250, 247, 247);
}

/* FOOTER-CONTAINER */

.footer_container {
    display: flex;
    background-color: #1786F9;
    justify-content: space-between;
    padding: 20px 0;
    margin: 2% 13% 2%;
    align-items: center;
    border-radius: 10px;

}

.footer_container h2 {
    color: rgb(239, 232, 232);
    padding: 10px;
    margin: 15px;
}

.footer_container-input{
    padding: 10px;
}

.footer_container-input form {
    width: 550px;
    height: 50px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.footer_container-input button {
    width: 80px;
    height: 100%;
    border-radius: 10px;
    border: none;
    font-size: 19px;
    background-color: tomato;
    color: white;
    cursor: pointer;
}

.footer_container-input button:hover {
    background-color: #3c3535;
}

.footer_container-input input {
    width: 100%;
    border: none;
    outline: none;
    color: black;
    font-size: 19px;
    padding-left: 15px;
}

/* FOOTER-CONTACT */
.footer_contact {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding: 20px 13%;
    color: #ffffff;
    font-size: 13px;
    font-weight: 550;
}

/* CONTACT-LIST1 */

.footer_contact-list1 {
    width: 450px;
}

.footer_contact-list1 h3 {
    margin-top: 0;
}
.footer_contact-list1 p {
    display: inline;
    text-align: justify;
    font-size: 13px;
}

.list1-content1 {
    margin-left: 12px;
}

.list1-content2 {
    margin-left: 6px;
}

.list1-content3 {
    margin-left: 5px;
}

.footer_contact-list1 div {
    margin-bottom: 10px;
}

.footer_contact-list1 i {
    font-size: 25px;
}

/* CONTACT-LIST2 */
.footer_contact-list2 {
    display: flex;
    width: auto;
    flex-direction: column;
}

.footer_contact-list2 h3 {
    margin: 0;
    margin-bottom: 10px;
}

.footer_contact-list2 a {
    text-decoration: none;
    color: white;
    padding: 5px 0;
}

.footer_contact-list2 a:hover {
    color: rgb(216, 97, 97);
}

/* CONTACT-LIST3 */
.footer_contact-list3 {
    display: flex;
    flex-direction: column;
}

.contact_list3-follow h3 {
    margin-top: 0;
    margin-bottom: 8px;
}

.contact_list3-follow a {
    margin-right: 10px;
}

.contact_list3-follow img {
    width: 35px;
    padding: 10px 0;
}

.contact_list3-payment h3 {
    margin: 10px 0 20px
}

