:root {
    --color-white-one: #f3f3f3;
    --color-white-two: white;
    --blue-color: #1786F9;
    --blue-color-two: #0b2778;
    --black-color-one: #212529;
    --black-color-two: #111111;
    --black-color-three: #4e4e4e;
    --green-color-one: #256961;
    --red-color-one: red;
    --red-color-two: #fdaca4;
    --red-color-three: rgb(255, 92, 0);
    --red-color-four: #e36756;
}

.main_container1 {
    min-height: 100vh;
    font-family: monospace;
    background-color: white;
}

.main_container1 .dropdown{
    margin: auto;
}

.main_container1 .dropdown-menu a:hover{
    background-color: rosybrown;
}

.main_container1 img{
    background-color: rgb(136, 223, 216);
    width: 100%;
    height: auto;
    display: block;
    padding: 2%;
}

.main_container2-heading {
    background-color:beige;
    border-radius: 10px;
}

.main_container2-heading h1{
    text-align: center;
}

.main_container2 {
    margin: 0;
    border: 2px solid black;
    margin: 0 0%;
    text-align: center;
    column-gap: 10px;
}

.main_container2-list {
    background-color: white;
}

.main_container2-list th{
    width: 25%;
}

.main_container2-list td{
    width: 25%;
}

.main_container2-list button{
    font-size: 20px;
}

.main_container2 img {
    width: 100%;
    transition: transform 0.7s linear;
    overflow: hidden;
}

.main_container2-list img:hover{
    transform: scale(1.1);
}

.main_container2-list h3{
    color: red;
}

.main_container2-list button{
    color: white;
    background-color: #1786F9;
    border-radius: 5px;
    border: white;
    padding: 5px 0;
    width: 100%;
    justify-content: center;
}

.main_container2-list-SP i{
    color: black;
}

.main_container2-list-SP-sale{
    padding: auto;
    position: absolute;
    display: flex;
    top: 3%;
    right: 6%;
    background-color: red;
    width: 45px;
    height: 45px;
    text-align: center;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    color: var(--color-black-two);
}

@media (max-width: 767px) {
    .main_container1-ad{
        display: none;
    }
}