
.filter {
    text-align: left;
}

.header_navbar1-login div{
    font-weight: bolder;
    font-size: 1.15rem;
}

.header_navbar1-shoppingcart div {
    font-weight: bolder;
    font-size: 1.15rem;
}

h3 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.header_calalog {
    background-color: var(--red-color-four);
    border-radius: 5px;
    color: var(--color-white-one);
    font-weight: bold;
}

.type-product {
    color: var(--blue-color);
}

.card {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn-addcard {
    font-size: 1rem;
    width: 100%;
    color: var(--color-white-one);
    background: linear-gradient(90deg, rgba(0, 77, 156, 1) 25%, rgba(17, 111, 209, 1) 50%, rgba(23, 134, 249, 1) 75%, rgba(82, 154, 228, 1) 90%);
}

.btn-addcard:hover {
    color: white;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}

.card-body {
    padding: 0 25px 35px;
}

.price {
    color: var(--red-color-one);
}

.describe {
    color: var(--black-color-three);
    font-size: 1.1rem;
}


