:root {
    --color-white-one: #f3f3f3;
    --color-white-two: white;
    --blue-color: #1786F9;
    --black-color-one: #212529;
    --black-color-two: #111111;
}

.main {
    display: grid;
    grid-template-columns: auto;
    gap: 10px 0;
}

                /* BANNER POSTER */
.main_poster {
    position: relative;
    max-width: 100%;
}

.main_poster-1 {
    position: fixed;
    left: 1%;
    top: 21%;
}

.main_poster-1 img {
    width: 120px;
    height: 360px;
}

.main_poster-2 {
    position: fixed;
    right: 1%;
    top: 21%;
}

.main_poster-2 img {
    width: 120px;
    height: 360px;
}


                /* CATALOG PRODUCTS */

.main_catalog {
    margin: 0 13%;
    background-color: white;
}

.main_catalog-heading{
    margin: 10px;
}
.main_catalog-product {
    display: flex;
    flex-wrap: wrap;
    padding: 1%;
    
}

.main_catalog_product-items { 
    max-width: 11.11%;
    height: 100px;
    flex: 1 1 auto;
    margin: 5px;
}

.main_catalog_product-items a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
}

.main_catalog_product-items a:hover {
    color: #1786F9;
}

.main_catalog_product-items img {
    width: 60px;
    height: 60px;
}

.main_catalog_product-items p {
    text-align: center;
    font-size: 0.9rem;
    margin-top: 5px;
    width: 60px;
    line-height: 1.1rem;
}

@media (min-width: 767px) and (max-width: 1023px) {
    .main_poster {
        display: none;
    }
    .main_catalog {
        margin: 0;
        padding: 3%;
    }
}

@media (max-width: 767px) {
    .main_poster {
        display: none;
    }
    .main_catalog {
        display: none;
    }
}

                /* BANNER AND MENU */

.main_banner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin: 10px 13%;
}

.main_banner-col-1 {
    display: flex;
    gap: 0 10px;
    width: 100%;
    min-height: 100%;
}

.main_banner-col-1-catalog {
    background-color: var(--color-white-two);
    width: 42%;
    height: 100%;
}

.main_banner-col-1-catalog-heading {
    font-size: clamp(0.7rem, 1vw, 1.6rem);
    margin: 10px 0 5px 13px;
    width: 100%;
}

.main_banner-col-1-catalog-heading i {
    font-size: clamp(0.9rem, 1vw, 1.6rem);
    padding-right: 5px;
}

.main_banner-col-1-catalog-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.catalog_list-item {
    margin: 10px 0;
}

.catalog_list-item-link {
    position: relative;
    text-decoration: none;
    color: var(--black-color-two);
    font-size: 14px;
    padding: 5px 10px;
    display: flex;
    transition: right linear 0.2s;
    right: 0;
    align-items: center;
}

.catalog_list-item-link:hover {
    color: var(--blue-color);
    right: -5px;
}

.catalog_list-item-link img {
    width: 20px;
    height: 20px;
}

.catalog_list-item-link p {
    font-size: clamp(0.9rem, 1vw, 3rem);
    margin-left: 5px;
}

.main_banner-col-1-banner img {
    width: 100%;
    height: 100%;
}

.main_banner-col-1-banner {
    width: 100%;
    height: 100%;
}

.main_banner-col-2 {
    display: flex;
    flex-direction: column;
    gap: 5px 0;
}

.main_banner-col-2-item {
    padding-left: 5px;
    width: 100%;
    height: 33.33%;
}

.main_banner-col-2-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

                /* SERVICE-CONTAINER */
.main_servicecontainer {
    display: flex;
    flex-wrap: wrap;
    margin: 0 13%;
    gap: 5px;
}

.main_servicecontainer-item {
    padding: 10px;
    display: flex;
    flex: 1 1 24%;
    align-items: center;
    background-color: var(--color-white-two);
}

.main_servicecontainer-item-img img {
    width: 45px;
    height: 45px;
}

.main_servicecontainer-item-content {
    width: 100%;
    height: 100%;
    text-align: start;
    margin-left: 10px;
    font-size: clamp(0.8rem, 1vw + 0.2rem, 3rem);
}

.main_servicecontainer-item-content h4 {
    font-size: clamp(13px, 1vw + 4px, 16px);
    margin-bottom: 5px;
}

.main_servicecontainer-item-content p {
    color: #838383;
}


                /* BANNER SALE */
.main_bannersale {
    max-width: 100%;
    padding: 0 13%;
}

.main_bannersale-banner img {
    width: 100%;
    height: 100%;
}

.main_bannersale-heading h2 {
    font-size: clamp(0.9rem, 0.6rem + 1.5vw, 1.5rem);
    margin-bottom: 0.8rem;
}

@media (min-width: 767px) and (max-width: 1023px) {
    .main_banner {
        margin: 10px 0;
    }
    .main_bannersale {
        padding: 0;
    }
    .main_servicecontainer {
        margin: 0;
    }
}

@media (max-width: 767px) {
    .main_banner {
        margin: 10px 0;
        grid-template-columns: auto;
    }
    .main_banner-col-2 {
        display: none;
    }
    .main_banner-col-1-catalog {
        display: none;
    }
    .main_bannersale {
        padding: 0;
    }
    .main_servicecontainer {
        margin: 0;
    }
    .main_servicecontainer-item {
        flex: 0 0 49%;
    }
}

            /* NEW PRODUCTS */

