.main {
    display: grid;
    grid-template-columns: auto;
    gap: 15px 0;
    /* padding: 0 13%; */
}

/* INTRODUCE-1 */
.main_introduce1 img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

/* INTRODUCE-2 */
.main_introduce2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 200px;
}

.main_introduce2-img1 {
    width: 49%;
    border-radius: 10px;
}

.main_introduce2-img2 {
    width: 49%;
    border-radius: 10px;
}

/* BANNER-SALE */
.main_sale {
    display: grid;
    grid-template-rows: auto auto;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
}

.main_sale-banner img {
    width: 100%;
}

/* PRODUCT */
.main_product {
    display: grid;
    grid-template-rows: auto auto;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
    width: 100%;
}

.main_product-heading {
    width: 200px;
    height: 80px;
}

.main_product-heading a {
    text-decoration: none;
}

.main_product-heading h1 {
    font-size: 18px;
    background-color: #1786F9;
    color: white;
    text-align: center;
    padding: 12px 0;
    border-radius: 6px;
}

.main_product-heading h1:hover {
    color: black;
}

.main_product-list {
    display: flex;
    flex-grow: 1;
}

.main_product-item {
    width: 200px;
    height: 320px;
    border: 2px solid rgb(52, 153, 242);
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 5px;
}

.main_product-item img {
    width: 100%;
    height: 180px;
    transition: transform 0.8s linear;
    padding-bottom: 10px;
}

.main_product-item:hover img {
    transform: scale(1.1);
}

.main_product-item a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #333333;
}

.product_item-price {
    position: absolute;
    color: white;
    letter-spacing: 2px;
    left: 50%;
    bottom: 0;
    font-size: 18px;
    transform: translateX(-50%);
    transition: all 0.5s linear;
    opacity: 0;
    font-weight: bold;
}

.main_product-item a:hover .product_item-price {
    opacity: 1;
    color: rgb(232, 47, 47);
}

.product_item-name h4 {
    font-size: 13px;
    margin: 10px 0 0;
    padding: 0 5px;
    text-align: justify;
    height: 90px;
}

.main_product-item-icon {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 5px;
}

.product_item-like i {
    font-size: 20px;
}

i.product_item-like-fill {
    display: none;
}

.product_item-like-liked .product_item-like-fill {
    display: inline-block;
}

.product_item-like-liked .product_item-like-empty {
    display: none;
}

.product_item-like-empty {
    color: rgb(207, 48, 48);
}

.product_item-like-fill {
    color: rgb(207, 48, 48);
}

.product_item-rate {
    color: #FF8A00;
}

.product_item-rate i {
    font-size: 0.9rem;
}

.product_item-rate>p {
    display: inline;
    font-size: 0.8rem;
}

/* CATALOG */
.main_catalog {
    display: grid;
    grid-template-rows: auto auto auto;
    background-color: white;
    border-radius: 6px;
    padding: 10px 15px;
    width: 100%;
}

.main_catalog-heading {
    font-size: 15px;
}

.main_catalog-product {
    display: flex;
    justify-content: space-between;
    padding: 10px 6%;
}

.catalog_product-items {
    width: 100px;
}

.catalog_product-items img {
    width: 60px;
    height: 60px;
    padding: 10px 5px 0px;
}

.catalog_product-items p {
    font-size: 14px;
}

.catalog_product-items a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.catalog_product-items p:hover {
    color: rgb(255, 5, 5);
}

/* INFORMATION */
.main_information {
    display: grid;
    grid-auto-rows: auto;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 6px;
}

.main_information-heading {
    font-size: 16px;
    margin-left: 10px;
}

.main_information-list {
    display: flex;
    justify-content: space-between;

}

.information_list-item {
    padding: 10px;
}

.information_list-item a {
    text-decoration: none;
    color: black;
}

.information_list-item img {
    width: 260px;
    height: 150px;
}

.information_list-item p {
    padding: 0;
    margin: 0;
    text-align: justify;
}

.information_list-item a:hover {
    color: red;
}