.main {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    /* border: 1px rgb(71, 64, 64) solid; */
    border-radius: 5px;
}

            /* INTRODUCE-1 */
.main_introduce1 img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    margin: 5px;
}

.main_introduce1 {
    padding-bottom: 5px;
}

            /* INTRODUCE-2 */
.main_introduce2 {
    display: flex;
    justify-content: space-between;
    padding: 0 0 10px;
    width: 100%;
    height: 200px;
}

.main_introduce2-img1 {
    width: 64%;
    border-radius: 10px;
    margin: 5px;
}

.main_introduce2-img2 {
    width: 35%;
    border-radius: 10px;
    margin: 5px;
}

            /* BANNER-SALE */
.main_sale {
    display: grid;
    grid-template-rows: auto auto;
    padding: 15px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 15px;
    margin-top: 5px;
}

.main_sale-banner img {
    width: 100%;
}

            /* PRODUCT */
.main_product {
    display: grid;
    grid-template-rows: auto auto;
    padding: 15px;
    background-color: white;
    margin-top: 15px;
    border-radius: 6px;
}

.main_product-heading {
    width: 200px;
    height: 80px;
}

.main_product-heading a {
    text-decoration: none;
}

.main_product-heading h1 {
    font-size: 18px;
    background-color: red;
    color: white;
    text-align: center;
    padding: 12px 0;
    border-radius: 6px;
}

.main_product-heading h1:hover {
    color: black;
}

.main_product-list {
    display: flex;
    justify-content: space-between;
}

.main_product-news {
    display: block;
    width: 200px;
    height: 300px;
    border: 1px solid black;
}

.main_product-news img {
    width: 100%;
    height: 200px;
}

            /* CATALOG */
.main_catalog {
    display: grid;
    grid-template-rows: auto auto;
    background-color: white;
    border-radius: 6px;
    padding: 10px 15px;
}

.main_catalog-heading {
    font-size: 15px;
}

.main_catalog-product {
    display: flex;
    justify-content: space-between;
    padding: 10px 6%;
}

.catalog_product-items img {
    width: 60px;    
    padding: 10px 5px 0px;
}

.catalog_product-items a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.catalog_product-items p:hover {
    color: rgb(255, 5, 5);
}
